body{
    background-color: #575252;
}


.calculator {
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background-color: #575252;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    width: 100%;
    height: 40px;
    background-color: #6f4caf;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
